.navbar{
    background-color: rgb(39, 39, 39);
    margin:0;
    height: 50px;
    display: flex;
    align-content: center;
    -webkit-box-shadow: 0px 4px 8px 2px rgba(0,0,0,0.65); 
    box-shadow: 0px 4px 8px 2px rgba(0,0,0,0.65);
    position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.navbar nav {
    display: flex;
    margin-right: 20px;
}

.nav-link{
    color: aliceblue;
    padding: 0;
    margin-left: 15px;
}

.login-btns{
    width: 200px;
    display: flex;
    justify-content: space-around;
}

.logo{
    width: 70px;
    cursor: pointer;
}

@media (max-width: 450px){
    .navbar nav {
        display: flex;
        font-size: small;
    }
    .navbar{
        background-color: rgb(39, 39, 39);
        margin:0;
        height: 50px;
        display: flex;
        align-content: center;
        
    }
    .nav-link{
        color: aliceblue;
        padding: 0;
        margin: 0 5px 0 5px;
    }
}
