.navbar{
    background-color: rgb(39, 39, 39);
    margin:0;
    height: 50px;
    display: flex;
}
.navbar nav {
    display: flex;
    
}

.nav-link{
    color: aliceblue;
}

.login-btns{
    width: 200px;
    display: flex;
    justify-content: space-around;
}
