.searchbar-container{
    margin-left: 2em;
    max-width: 300px;
    max-height: 26px;
}

.searchbar-container form label{
    color: aliceblue;
    
} 

.searchbar-container form button{
    color: aliceblue;
    background-color: darkgray;
    text-decoration: none;
    border: none;
}

.searchbar-input{
    box-sizing: border-box;
    margin-left: 5px;
    padding: 0 ;
    height: 26px;
}

.search-results-display{
    margin-top: 10px;
    background-color: rgb(122, 122, 122);
    padding: 10px;
    max-width: 93%;
    max-height: 90vh;
    overflow: scroll;
    
}

.search-result-card{
    border: 2px solid #000000;
    padding:5px;
    margin-bottom: 2px;
}

.result-title{
    font-weight: 600;
}

.search-result-card img{
    width: 100px;
    margin-right: auto;
}


.search-result-card button {

  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin: 5px
}

.list-select-modal{
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.5s;
    overflow: auto;
    transition: all 0.3s linear;
}

.list-select-container{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 4px;
    max-width: 300px;
    height: 450px;
}

.list-select-container button{
    position: relative;
    right: -40%;
    margin-bottom: 10px;
}

.list-title{
    cursor: pointer;
    border: 2px solid black;
}

@media (max-width: 450px){
    .searchbar-input{
        box-sizing: border-box;
        margin-left: 5px;
        padding: 0 ;
        height: 26px;
        width: 150px;
    }
    .searchbar-container{
        margin-left: 1em;
        max-width: 300px;
        max-height: 26px;
    }
}