.list-movies{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-movie-img{
    width: 21vw;
    border: 1px solid black;
}

.movie-card{
    border: 2px solid black;
    margin-top: 20px;
    width: 23vw;
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 39, 39);
}



@media (max-width: 450px){

    .movie-card{
        width: 40%;
        word-wrap: normal;
    }

    .list-movie-img {
        width: 30vw;
    }
}